*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("fondo.jpg");
    
    
    
        }


    
    


    .imagenregla1{

        position: relative;
        
         
        
        width: 190px;
        
        height: 390px;
        
        border-radius: 10px;
        
        background-repeat: no-repeat;
        
         
        
        left: 180px;
        
        background-image: url("regla1.jpeg");
        
        }



    
    


    .imagenregla2{

        position: relative;
        
         
        
        width: 390px;
        
        height: 390px;
        
        border-radius: 10px;
        
        background-repeat: no-repeat;
        
         
        
        left: 180px;
        
        background-image: url("regla2.jpeg");
        
        }


        .imagencuidadoconelidioma{

            position: relative;
            
             
            
            width: 390px;
            
            height: 390px;
            
            border-radius: 10px;
            
            background-repeat: no-repeat;
            
             
            
            left: 180px;
            
            background-image: url("cuidadoconelidioma.jpg");
            
            }


            .imagendiferenciadeopinion{

                position: relative;
                
                 
                
                width: 390px;
                
                height: 390px;
                
                border-radius: 10px;
                
                background-repeat: no-repeat;
                
                 
                
                left: 180px;
                
                background-image: url("diferenciadeopinion.jpg");
                
                }

                .imagenregla3{

                    position: relative;
                    
                     
                    
                    width: 900px;
                    
                    height: 690px;
                    
                    border-radius: 10px;
                    
                    background-repeat: no-repeat;
                    
                     
                    
                    left: 180px;
                    
                    background-image: url("regla3.jpg");
                    
                    }


                    .imagenregla5{

                        position: relative;
                        
                         
                        
                        width: 900px;
                        
                        height: 800px;
                        
                        border-radius: 10px;
                        
                        background-repeat: no-repeat;
                        
                         
                        
                        left: 180px;
                        
                        background-image: url("regla5.jpg");
                        
                        }


                        .imagenregla6{

                            position: relative;
                            
                             
                            
                            width: 400px;
                            
                            height: 490px;
                            
                            border-radius: 10px;
                            
                            background-repeat: no-repeat;
                            
                             
                            
                            left: 180px;
                            
                            background-image: url("regla6.jpg");
                            
                            }
    

                            .imagenregla7{

                                position: relative;
                                
                                 
                                
                                width: 900px;
                                
                                height: 990px;
                                
                                border-radius: 10px;
                                
                                background-repeat: no-repeat;
                                
                                 
                                
                                left: 180px;
                                
                                background-image: url("regla7.jpg");
                                
                                }

    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    
    
    
    .textoi3{
    
        font-size: 40px;
        
        text-align: justify;
        
        color: rgb(98, 179, 245);
    
     
    
    }


    
    
    .textom3{
    
        font-size: 50px;
        
        text-align: justify;
        
        color: rgb(190, 50, 127);
    
     
    
    }



    .texto{
    
        font-size: 40px;
        
        text-align: justify;
        
        color: brown;
    
     
    
    }


    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 316px;
        
         
        
        }
